.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: black;
}
.sidebar .bg{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    bottom: 0;
    width: 400px;
    background: #fff;
}
.sidebar .bg .links{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    
}
.sidebar .bg .links a{
    font-size: 40px;
}
.toggleButton{
    z-index: 999;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    top: 25px;
    left: 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
@media (max-width:491px) {
    .sidebar .bg{
        width: 150px;
    }
    .sidebar .bg .links a{
        font-size: 20px;
    }
}